@import "./styles.scss";

.upper-nav {
  float: right;
  span {
    font-size: .75rem;
    margin-left: .5rem;
    color: $secondary-text;
  }
  i {
    margin-right: .25rem;
    color: $secondary-text;
  }
}

.top-bar.lower-nav {
  background: #fff;
  #logo {
    height: 104px;
    // transform: translate(0, -30px);
    margin-top: -45px;
    margin-bottom: 15px;
  }
  a {
    color: $text-color;
    text-transform: uppercase;
    padding: 0;
    margin-left: 2.25rem;
    font-size: .75rem;
    &:hover {
      color: $secondary-text;
    }
  }
}
#lower-nav-menu-mobile {
  display: none;
}
.jumbotron-slider {
  height: 550px;
  position: relative;
  i {
    color: #777;
    font-size: 2rem;
    font-weight: light;
    cursor: pointer;
    &:hover {
      color: #ccc;
    }
  }
  .orbit-container {
    height: 550px;
    width: auto;
    .orbit-slide {
      height: 550px;
      background-size: cover;
      padding: 4rem;
      h1 {
        color: #fff;
        max-width: 60%;
        text-transform: uppercase;
        line-height: 1.05em;
        margin-bottom: 2rem;
      }
      .hr {
        float: left;
        clear: both;
        width: 45%;
        border-bottom: 1px solid #fff;
        height: 1px;
        position: relative;
        margin-bottom: 2rem;
      }
      p {
        color: #fff;
        clear: both;
        font-size: 1.5rem;
        max-width: 40%;
        margin-top: 2rem;
      }
      .orbit-figure {
        button {
          color: #fff;
          text-transform: uppercase;
          margin-top: 2rem;
          i {
            color: white;
            font-size: 1em;
          }
        }
      }

    }
    #slide1 {
      background-image: url('./assets/slide-1-bkg.png');
    }
    #slide2 {
      background-image: url('./assets/slide-2-bkg.png');
    }

  }
  .orbit-bullets {
    margin-top: -45px;
    button {
      height: 15px;
      width: 15px;
      margin-left: 7px;
    }
    button.is-active {
      background: $secondary;
    }
  }
}

.orbit-bullets button.is-active {
  background: $secondary;
}

.solutions {
  width: 100%;
  padding: 5rem .5rem;
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.85rem;
  }
  .hr2 {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  p {
    text-align: center;
    max-width: 800px;
    margin: auto;
  }
  .container.grid-x {
    justify-content: space-between;
  }
  .card {
    margin: 1.5rem;
  }
}

.contact-us > .container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  h3 {
    font-size: 1.5rem;
  }
  a {
    color: $secondary;
    text-decoration: underline;
  }

  .contact-form {
    margin: auto;
    background: #eee;
    padding: 2rem;
  }
  .contact-info {
    margin: auto;
  }
  .item {
    color: $secondary;
    i {
      color: $secondary;
      margin-right: .5rem;
    }
  }
}

footer {
  p, li, .item, i {
    color: #999;
    font-size: .75rem;
  }
  li {
    line-height: 2rem;
    list-style: none;
    list-style-position: inherit;
  }
  ul {
    margin-left: 0;
  }
  h5 {
    color: #FFF;
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
  }
  .footer-divider {
    padding: 0 2rem;
  }
  .double-list {
    display: flex;
    justify-content: space-between;
    ul {
      margin-right: 4rem;
    }
  }
}
.upper-footer {
  background: #333;
  padding: 2rem .5rem 5rem .5rem;
  img {
    height: 70px;
    width: auto;
  }
}
.lower-footer {
  background: #222;
  padding: .5rem;
  .container {
    display: flex;
    justify-content: space-between;
  }

  span, a {
    color: #999;
    font-size: .75rem;
  }
}
.upper-footer > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: $break-medium) {
  .top-bar.lower-nav #logo {
    height: 50px;
    margin-top: -5px;
  }
  #lower-nav-menu {
    display: none;
  }
  #lower-nav-menu-mobile {
    display: inline-block;
    .menu-icon {
      margin-right: .5rem;
    }
  }
  .jumbotron-slider .orbit-container .orbit-slide h1,
  .jumbotron-slider .orbit-container .orbit-slide p {
    max-width: 100%;
  }
}
